body{
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    animation-name: Myanimation;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
    background-color: rgb(6, 11, 15);

}
.child{
    width:100px;
    height:100px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 5px yellow;
    background-image: linear-gradient(red,yellow); 

}
.parent{
    width:300px;
    height:300px;
    border:3px solid rgb(253, 249, 249);
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
   

}
.child1{
    width:50px;
    height:50px;
    border-radius: 50%;
    background-image: linear-gradient(to left,rgb(35, 91, 246),rgb(8, 126, 8),#009dff);
    box-shadow: 0px 0px 4px 5px hsl(150, 93%, 48%);
    position:absolute;
    bottom:300px;
    right:585px;

}
  @keyframes Myanimation {
    0%{
        transform:rotateZ(0deg);
    }
    100%{
        transform:rotateZ(360deg);
    }
    
} 
 .gparent{
    width:500px;
    height:500px;
    border:3px solid #f5f1f1;
    border-radius: 50%;
    position:absolute;
    top:105px;
    bottom:50px;
} 
.gparent1{
    width:100px;
    height:100px;
    border-radius: 50%;
    position:absolute;
    top:30px;
    left:375px;
    background-image: linear-gradient(hsl(16, 84%, 52%),red);
    box-shadow: 0px 0px 4px 5px red;
}
.gparent2{
    width:725px;
    height:725px;
    border-radius: 50%;
    border: 3px solid rgb(245, 240, 240);
    position:absolute;
   

}
.gparent21{
    width:125px;
    height:125px;
    background-image: linear-gradient(grey,white,grey);
    box-shadow: 0px 0px 3px 4px whitesmoke;
     position:absolute;
    top:30px;
    left:50px;
    border-radius: 50%;

}